@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Buenard:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
}

input{
    text-transform: none;
}
main{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao{
    background-color: #a7a7a7;
    height: 80vh;
    width: 0.1vw;
}

.container{
    width: 50%;
}

.containerCategoriaTamanho{
    width: 50%;
}
.input-cont {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30%;
    width: 100%;
}

.input-cont label {
    margin-bottom: 5px;
}

.input-cont input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #313131;
    transition: 1s;
}

.input-cont input:focus {
    outline: none;
    border-bottom: 1px solid #313131;
}

@media screen and (max-width:768px){
    #page{
        flex-direction: column;
    }
    .divisao{
        display: none;
    }
}