@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Buenard:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
}

header{
    background-color: #f2f2f2;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.3vw 10px #cfcfcf;
}

header a{
    justify-content: center;
    align-items: center;
}
header a img{
    width: 100%;
}
header h2{
    font-size: 150%;
    color: #202020;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-weight: 800;
}

input{
    text-transform: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}

.container{
    border-radius: 20px;
    width: 80vw;
    height: 70vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 2px #cfcfcf;
}



#cima{
    width: 100%;
    height: 20%;
}

#cima #endereco-existente{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#enderecos{
    overflow-x: scroll;
    width: 80%;
    display: flex;
}

.endereco-unico {
    background-color: #fff;
    box-shadow: 0px 2px 2px #cfcfcf;
    border-radius: 5px;
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    font-size: 0.6vw;
    margin: 0.5vw;
    margin-inline: 1vw;
    flex-shrink: 0;
}


#hrline{
    height: 5%;
}

#baixo{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input{
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input label{
    margin-bottom: 5px;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs-lados{
    display: flex;
    padding: 0.5vh;
    gap: 0.5vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#inputs-direita, #inputs-meio, #inputs-esquerda{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input input{ 
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #313131;
    transition: 1s;
}

.input input:focus{
    outline: none;
    border-bottom: 1px solid #c25e00;
}

#img{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img img{
    max-width: 100%;
}


.novo-end{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 0.7vw;
}

.novo-end h3{
    color: #616161;
}

.novo-end h4{
    font-size: 0.8vw;
    color: #202020;
}

.btn-endereco{
    width: 50%;
    background-color: #BF9B6F;
    padding: 0.2vw;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 0.9vw;
    border: none;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    cursor: pointer;
}

#escolha-endereco button{
    background-color: #BF9B6F;
    color: #f2f2f2;
    border: none;
    box-shadow: 0px 2px 2px #cfcfcf;
    font-size: 0.9vw;
    font-weight: 700;
    padding: 0.2vw;
    cursor: pointer;
}

.endereco-unico h3{
    font-size: 0.5vw;
    color: #616161;
}
.endereco-unico h3 span{
    font-size: 1vw;
    color: #202020;
}


@media screen and (max-width:768px){
    header a img{
        width: 80%;
    }
    header h2{
        font-size: 150%;
        color: #202020;
        font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
        font-weight: 800;
    }
    #inputs-lados {
        flex-direction: column;
        display: flex;
        padding: 0.5vh;
        gap: 0.5vh;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .btn-endereco {
        width: 50%;
        background-color: #BF9B6F;
        padding: 0.2vw;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 70%;
        border: none;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        cursor: pointer;
    }
    #inputs-direita, #inputs-esquerda {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .novo-end {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 20%;
    }
    .novo-end h3 {
        color: #616161;
        font-size: 400%;
    }
    .novo-end h4 {
        font-size: 600%;
        color: #202020;
    }
    #enderecos {
        overflow-x: scroll;
        width: 80%;
        display: flex;
        margin-bottom: 10%;
    }
    #cima #endereco-existente {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 60%;
        justify-content: center;
    }
    .container {
        border-radius: 20px;
        width: 80%;
        height: 80%;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 2px #cfcfcf;
    }
    .input label {
        margin-bottom: 5px;
        font-size: 45%;
    }
    #baixo {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .endereco-unico {
        background-color: #fff;
        box-shadow: 0px 2px 2px #cfcfcf;
        border-radius: 5px;
        width: 90%;
        height: 40%;
        display: flex;
        align-items: start;
        justify-content: space-around;
        font-size: 60%;
        margin: 0.5vw;
        margin-inline: 1vw;
        flex-shrink: 0;
    }
    
    .endereco-unico h3 {
        font-size: 100%;
        color: #616161;
    }
    .endereco-unico h3 span {
        font-size: 170%;
        color: #202020;
    }

    #escolha-endereco button {
        background-color: #BF9B6F;
        color: #f2f2f2;
        border: none;
        box-shadow: 0px 2px 2px #cfcfcf;
        font-size: 100%;
        font-weight: 700;
        padding: 0.2vw;
        cursor: pointer;
    }
}

@media screen and (max-width:1165px) and (min-width:769px){
    .btn-endereco {
        width: 50%;
        background-color: #BF9B6F;
        padding: 0.2vw;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 90%;
        border: none;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        cursor: pointer;
    }
    .endereco-unico h3 span {
        font-size: 300%;
        color: #202020;
    }
    .endereco-unico h3 {
        font-size: 110%;
        color: #616161;
    }
    #escolha-endereco button {
        background-color: #BF9B6F;
        color: #f2f2f2;
        border: none;
        box-shadow: 0px 2px 2px #cfcfcf;
        font-size: 200%;
        font-weight: 700;
        padding: 0.2vw;
        cursor: pointer;
    }
    
}