@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Buenard:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
}

#abrir-menu{
    display: none;
}

input{
    text-transform: none;
}

#sacola{
    display: none;
    grid-template-columns: 4fr 1fr;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 25;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}

#sacola a {
    color: #f2f2f2;
    text-decoration: none;
    width: 50%;
}

#sacola.ativo{
    display: grid;
}


#sacola #bg-bag{
    background-color: #2020203f;
}

#sacola #container-bag{
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    height: 100vh;
}

#sacola #container-bag #container-prod{
    overflow-y: scroll;
    width: 20vw;
    padding: 0.5vw;
}

#sacola #container-bag #container-prod .produto{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 1vh;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

#sacola #container-bag #container-prod .container-img{
    width: 30%;
}

#sacola #container-bag #container-prod .container-img img{
    max-width: 80%;
}

#sacola #container-bag #container-prod .container-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
}
#sacola #container-bag #container-prod .container-info h3{
    font-size: 1vw;
    color: #202020;
    width: 30%;
    font-weight: 700;
}

#sacola #container-bag #container-prod .container-info h4{
    font-size: 0.7vw;
    color: #616161;
    width: 30%;
    font-weight: 600;
}


#sacola #container-bag #container-prod .container-info input{
    width: 20%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #313131;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sacola-vazia{
    align-items: center;
    justify-content: center;
    color: #616161;
    font-size: 1vw;
    font-weight: 300;
    text-align: center;
}

.parteCima {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed', 'Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}

.parteCima h3{
    white-space: nowrap;
    width: 100%;
    text-align: start;
}

.parteBaixo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}


#sacola #container-bag #container-prod .container-info input:focus {
    outline: none;
    border-bottom: 1px solid #BF9B6F;
}


/*produto acima*/


.head-bag {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.head-bag #fecharBag {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: #1a1a1a;
    color: #f2f2f2;
    width: 3vw; 
    height: 3vh;
    font-weight: 700;
    font-size: 120%;
    cursor: pointer;
}


.head-bag #titulo {
    text-align: center;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 0vh;
    font-size: 200%;
    font-weight: 800;
    color: #202020;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
}

#sacola .foot-bag{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sacola .foot-bag #checkout{

    display: none;
}

#sacola .foot-bag #checkout.ativo {
    font-family: 'Prompt', 'Sofia Sans Extra Condensed', 'Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    width: 100%;
    border: none;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    background-color: #BF9B6F;
    font-weight: 700;
    color: #f2f2f2;
    font-size: 150%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block;
}

#sacola .foot-bag #tt{
    color: #616161;
    font-size: 120%;
}

#sacola .foot-bag #tt span{
    color: #202020;
    font-weight: 700;
}

.botaoTira{
    margin-left: 0;
    border: none;
    background-color: #1a1a1a;
    color: #f2f2f2;
    width: 1vw; 
    height: 1.7vh;
    font-weight: 700;
    font-size: 0.6vw;
    cursor: pointer;
}



header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color:#333333;
    /*background-image: linear-gradient(to bottom, #0000006e 60%, #c8c8c800 100%);*/
    transition: background-image 0.5s ease-out, 0.5s;
    z-index: 10;
}

.up, .down{
    display: flex;
}

.up{
    background-color: #202020;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 2vw 11vh #ffffff;
    z-index: 15;
}

.up p{
    margin: 0;
    display: flex;
    color: #dfdfdf;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-weight: 800;
    font-size: 100%;
}

.up .user-bag{
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 120%;
}

.user-bag #bag{
    margin-inline: 25%;
    cursor: pointer;
}

.user-bag .user{
    cursor: pointer;
}

#fechar-down{
    display: none;
}

/*parte do informativo/login/sacola acima!*/

.down {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    z-index: 20;
}

.down .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo img{
    width: 100%;
}

.down .categorias{
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorias a{
    text-decoration: none;
    color: #202020;
    font-weight: 700;
    margin-inline: 1vw;
    font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    font-size: 0.7vw;
}

.down .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.d-flex{
    display: flex;
}
.search input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #313131;
    transition: 1s;
}



.search input:focus {
    outline: none;
}

.search .btnPesquisa{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #313131;
    transition: 1s;
}


header:hover{
    background-image: none;
    background-color: #f2f2f2;
    color:#202020;
}

.btn-decrementar{
    font-size: 1.1vw;
    font-weight: 700;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    border: none;
    color: #f2f2f2;
    background-color: #BF9B6F;
    width: 0.7vw;
    cursor: pointer;
}

.btn-incrementar{
    font-size: 1.1vw;
    font-weight: 700;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    border: none;
    color: #f2f2f2;
    background-color: #BF9B6F;
    width: 0.7vw;
    cursor: pointer;
}

.down #down-baixo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1024px){

    #sacola{
        display: none;
        grid-template-columns: 0fr 1fr;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 25;
        font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    }
    .head-bag #fecharBag {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: #1a1a1a;
        color: #f2f2f2;
        width: 15%; 
        height: 30%;
        font-weight: 700;
        font-size: 120%;
        cursor: pointer;
    }
    .botaoTira{
        margin-left: 0;
        border: none;
        background-color: #1a1a1a;
        color: #f2f2f2;
        width: 10%;
        height: 100%; 
        font-weight: 700;
        font-size: 100%;
        cursor: pointer;
        text-align: center;
        justify-content: center;
    }

    #sacola #container-bag #container-prod{
        margin-inline: auto;
        overflow-y: scroll;
        width: 90vw;
        padding: 0.5vw;
    }
    #sacola #container-bag #container-prod .produto{
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        border-radius: 1vh;
        height: 25%;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }
    
    #sacola #container-bag #container-prod .container-img{
        width: 30%;
    }
    
    #sacola #container-bag #container-prod .container-img img {
        max-width: 50%;
    }
    
    #sacola #container-bag #container-prod .container-info{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 5%;
    }
    #sacola #container-bag #container-prod .container-info h3{
        font-size: 100%;
        color: #202020;
        width: 30%;
        font-weight: 700;
    }
    
    #sacola #container-bag #container-prod .container-info h4{
        font-size: 80%;
        color: #616161;
        width: 30%;
        font-weight: 600;
    }
    
    
    #sacola #container-bag #container-prod .container-info input{
        width: 20%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #313131;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .sacola-vazia{
        align-items: center;
        justify-content: center;
        color: #616161;
        font-size: 100%;
        font-weight: 300;
        text-align: center;
    }
    
    .parteCima {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        font-family: 'Prompt', 'Sofia Sans Extra Condensed', 'Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    }
    
    .parteCima h3{
        white-space: nowrap;
        width: 100%;
        text-align: center;
    }
    .parteBaixo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Prompt', 'Sofia Sans Extra Condensed','Josefin Sans', 'Lexend Deca', sans-serif, Arial, Helvetica;
    }
    
    
    #sacola #container-bag #container-prod .container-info input:focus {
        outline: none;
        border-bottom: 1px solid #BF9B6F;
    }

    .btn-decrementar{
        font-size: 100%;
        font-weight: 700;
        border-start-start-radius: 10px;
        border-end-start-radius: 10px;
        border: none;
        color: #f2f2f2;
        background-color: #BF9B6F;
        width: 10%;
        cursor: pointer;
    }
    
    .btn-incrementar{
        font-size: 100%;
        font-weight: 700;
        border-start-end-radius: 10px;
        border-end-end-radius: 10px;
        border: none;
        color: #f2f2f2;
        background-color: #BF9B6F;
        width: 10%;
        cursor: pointer;
    }

    #abrir-menu{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .down{
        display: grid;
        grid-template-columns: 1fr;
    }

    .down #down-baixo{
        display: none;
    }
    #down-baixo.aberto {
        display: flex;
        position: fixed;
        flex-direction: column-reverse;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 30;
        background: #00000079;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    
    #down-baixo.aberto .categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 5vw;
        font-weight: 700;
        color: #f2f2f2;
    }
    
    #down-baixo.aberto .categorias a {
        display: flex;
        flex-wrap: wrap;
        font-size: 5vw;
        font-weight: 700;
        color: #f2f2f2;
    }
    
    #down-baixo.aberto .search {
        padding: 1%;
        border-radius: 5px;
        background-color: #f2f2f2;
        box-shadow: 0 1px 1px #535353;
    }
    .search{
        display: none;
    }
    .categorias{
        display: none;
    }
    #fechar-down {
        display: none;
    }
    
    #down-baixo.aberto #fechar-down {
        display: flex;
        color: #f2f2f2;
        font-weight: 800;
        font-size: 5vw;
        cursor: pointer;
    }
    #down-cima{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-size: 150%;
    }
    #down-cima .logo{
        width: 30%;
    }

    .up{
        align-items: center;
        justify-content: center;
    }
    .up p{
        display: none;
    }
    #painel-adm{
        font-size: 80%;
        color: #BF9B6F;
        font-weight: 800;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    #painel-adm span{
        font-size: 80%;
        color: #BF9B6F;
        font-weight: 800;
        text-decoration: none;
    }

}

#deslogar{
    font-size: 50%;
    color: #dfdfdf;
    font-weight: 800;
    text-decoration: none;
}

#painel-adm{
    font-size: 100%;
    color: #BF9B6F;
    font-weight: 800;
    text-decoration: none;
}
#painel-adm span{
    font-size: 100%;
    color: #BF9B6F;
    font-weight: 800;
    text-decoration: none;
}

#div-logado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#div-logado #historico{
    margin-inline: 10%;
}
